/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*height:100%;
	width:100%; */
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Enforce more intuitive box-sizing, suppress selection, demand default cursor*/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;
}

input, select, button{
	outline:none;
}

sup {font-size:small; vertical-align:super;}

sub {font-size:small; vertical-align:sub;}

body{
	font-family: 'Raleway', sans-serif; 
	font-size:14px; 
	background-color:#333333; 
	color:#FFFFFF;
	margin-left:0px;
}
/*branding///////////////////////////////////////////////////*/
div#branding{
	height:10%;
	color:#999999;
	border-left: 5px solid #999999;
	border-bottom: 5px solid #999999;
	border-bottom-left-radius: 25px;

	margin-bottom: 1em;
	padding-left: 1em;

}

#logo{
	height:100%;
	float:left;
	opacity:0.6;
}

h1#headerBanner{
    float:left;
	font-size: 400%;
	
	margin-left: 5px;
	height: 100%;
}

/*navigation//////////////////////////////////////////////////////*/
div#navigation{


}

/*buttons/////////////////////////////////////////////////////////*/
button.navButton{
	background: #4C4C4C; 
	color: #FFFFFF;
	border-color: #333333; 
	border-radius: 5px;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    padding-top:1em;
    padding-bottom:1em;
}

button.navButton:hover{
	background: #777777;
}

/*main///////////////////////////////////////////////////////*/
div.canvasWrap, div.sidebarWrap{
	display:inline-block;
	border: 5px solid #EEEEEE;
	border-radius: 25px;
	margin-bottom: 1em;
position: relative;



}

div.canvasWrap{
	width: 65%;
	height:90%;
	float:left;
	padding:1em;
	margin-top: 1em;
	overflow:scroll; 
}

div#canvasWrapCalibration{
 	display: inline-block;
	width: 69%;
	height:90%; 
	float:left; 
	padding:1em;
	margin-top: 1em;
	overflow:scroll; 
	border: 5px solid #EEEEEE;
border-radius: 25px;
 -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;


}




div.sidebarWrap{
	width:30%;
	height:90%;
	float:right;
	padding:1em;
	font-size: 200%;
	overflow:scroll;
	margin-top: 0.5em;
}

ul.availableSpecHIT li, ul.availableSpecSUM li, ul.availableSpecGRGe li, ul.availableSpecGRGt li, ul.availableSpecGRGp li, ul.availableSpecGRGw li, ul.availableSpecSEPe li, ul.availableSpecSEPt li, ul.availableSpecSEPp li, ul.availableSpecSEPw li, ul.availableSpecDSCe li, ul.availableSpecDSCt li, ul.availableSpecDSCp li, ul.availableSpecDSCw li, ul.availableSpecDSCz li, ul.availableSpecDSCl li, ul.availableSpecDSCs li{
	padding:0.5em;
}

.hidden{
        display: none !important;
}

.unhidden{
        display: list-item !important;
}


ul.availableSpecHIT li:hover, ul.availableSpecSUM  li:hover, ul.availableSpecGRGe  li:hover, ul.availableSpecGRGt  li:hover, ul.availableSpecGRGp  li:hover, ul.availableSpecGRGw  li:hover, ul.availableSpecSEPe  li:hover, ul.availableSpecSEPt  li:hover, ul.availableSpecSEPp  li:hover, ul.availableSpecSEPw  li:hover, ul.availableSpecDSCe  li:hover, ul.availableSpecDSCt  li:hover, ul.availableSpecDSCp  li:hover, ul.availableSpecDSCw  li:hover, ul.availableSpecDSCz  li:hover, ul.availableSpecDSCl  li:hover, ul.availableSpecDSCs  li:hover{
	border:1px solid #EEEEEE;
}

ul.availableSpecHIT li:nth-child(odd), ul.availableSpecSUM li:nth-child(odd), ul.availableSpecGRGe li:nth-child(odd), ul.availableSpecGRGt li:nth-child(odd), ul.availableSpecGRGp li:nth-child(odd), ul.availableSpecGRGw li:nth-child(odd), ul.availableSpecSEPe li:nth-child(odd), ul.availableSpecSEPt li:nth-child(odd), ul.availableSpecSEPp li:nth-child(odd), ul.availableSpecSEPw li:nth-child(odd), ul.availableSpecDSCe li:nth-child(odd), ul.availableSpecDSCt li:nth-child(odd), ul.availableSpecDSCp li:nth-child(odd), ul.availableSpecDSCw li:nth-child(odd), ul.availableSpecDSCz li:nth-child(odd), ul.availableSpecDSCl li:nth-child(odd), ul.availableSpecDSCs li:nth-child(odd){
	background: #222222;
}

ul.availableSpecHIT li:nth-child(even), ul.availableSpecSUM li:nth-child(even), ul.availableSpecGRGe li:nth-child(even), ul.availableSpecGRGt li:nth-child(even), ul.availableSpecGRGp li:nth-child(even), ul.availableSpecGRGw li:nth-child(even), ul.availableSpecSEPe, ul.availableSpecSEPt, ul.availableSpecSEPp, ul.availableSpecSEPw li:nth-child(even), ul.availableSpecDSCe li:nth-child(even), ul.availableSpecDSCt li:nth-child(even), ul.availableSpecDSCp li:nth-child(even), ul.availableSpecDSCw li:nth-child(even), ul.availableSpecDSCz li:nth-child(even), ul.availableSpecDSCl li:nth-child(even), ul.availableSpecDSCs li:nth-child(even){
	background: #444444;
}

#HITTITLE, #SUMTITLE, #GRGeTITLE, #GRGtTITLE, #GRGpTITLE, #GRGwTITLE, #SEPeTITLE, #SEPtTITLE, #SEPpTITLE, #SEPwTITLE, #DSCeTITLE, #DSCtTITLE, #DSCpTITLE, #DSCwTITLE, #DSCzTITLE, #DSClTITLE, #DSCsTITLE{
	padding:0.5em;
background: #222222;
	font-size: 125%;
	border: 2px solid #EEEEEE;
	border-radius: 5px;
display: list-item;
}


ul#availableSpectra li{
	padding:0.5em;
}

ul#availableSpectra li:hover{
	border:1px solid #EEEEEE;
}

ul#availableSpectra li:nth-child(odd){
	background: #222222;
}

ul#availableSpectra li:nth-child(even){
	background: #444444;
}

/*Plot Control////////////////////////////////////////////////////////////////////////*/
div.UIchunk{
	white-space: nowrap;
	display:inline-block;
	margin-right:2em;
	margin-bottom: 1em;
}

input.inputBox{
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;
	font-size:200%;
	padding: 0.5em;
	width: 4em;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
}

button.inputButton, div#fitModeToggle, button.deckNavPassive, button.deckNav1D, button.deckNav2D{
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;
	font-size:200%;
	padding: 0.5em;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
}

button.inputButton:hover, button.deckNavPassive:hover{
	background-color: #777777;
}

div#fitModeToggle{
	display:inline-block;
	margin-right: 1em;
}

select{
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;
	font-size:200%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	margin:0px;
    -webkit-appearance:none;
    -moz-appearance:none;
 	text-indent: 0.01px;
    text-overflow: '';
    appearance:none;
}

select#calOptions{
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;
	font-size:110%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	margin:0px;
    -webkit-appearance:none;
    -moz-appearance:none;
 	text-indent: 0.01px;
    text-overflow: '';
    appearance:none;
}






/*Deck Nav/////////////////////////////////////////////////////////////////////////////*/
x-deck#mainDeck{
	
}

button.deckNavPassive, button.deckNav1D, button.deckNav2D{
	font-size: 100%;
	color: #EEEEEE;
}

button.deckNav1D{
	background-color: #d35400;
}

button.deckNav2D{
	background-color: #8e44ad; 
}

div.deckNavWrap{
	text-align: center;
}

/* http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-inputs-spin-box */
input.inputBox::-webkit-outer-spin-button,
input.inputBox::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label.inputLabel{
	font-size: 200%;
	color: #999999;
}

label#calibrateLabel {

		font-size:100%;
}

label#resolutionLabel {

		font-size:100%;
}

label#linLabel, #linLabel2D{
	float:left;
}

div#toggleWraptoggleYscale, #toggleWraptoggleZscale{
	margin-top: 0;
}

button#unzoom, #unzoom2D, #waveformSnap{
	margin-right:1em;
}

/*Recently Viewed Table///////////////////////////////////////////////////////////////*/
div#recentSpectra{
	min-height:100px;
	border: 5px solid #EEEEEE;
	border-radius: 25px;
	clear: both;
	padding: 1em;
	float:left;
	/*width: 1800px; */
	min-width: 120px; 
	margin-bottom: 1em;
	font-size: 150%;
	padding-top:0px;
}

div#Calibration{
	padding: 1em;
}

div#titleRow{
	border-bottom: 1px solid #777777;
	margin-bottom: 1em;
}

div.recentWrap{
	min-height:3em;
	white-space: nowrap;
	clear:both;
}

div.colorSwatch{
	height:3em;
	width:3em;
	border-radius: 1em;
	border: 2px solid #111111;
	float:left;

}

div.recentName{
	float:left;
	padding: 1em;
	width:12em;
}

div.killSwitch{
	background-color: #FF0000;
	width:2em;
	height:2em;
	border-radius: 1em;
	float:left;  /* Changed the format */
	margin:0.5em;
	border:1px solid #FFFFFF;
	text-align: center;
	padding-top:0.5em;
	cursor: pointer;
	
}

div#spectraList, div#fitTarget{
	float:left;
	padding:1em;
}

div#fitTarget{
	width:8em;
	text-align: center;
}

div.fitTargetWrap{
	text-align: center;
	width:8em;
	float:left;
	padding-top:0.5em;
}

input.fitTargetRadio{
	display: none;
}

input[type='radio'] + label{
	display:inline-block;
	width:1.5em;
	height:1.5em;
	border-radius: 0.75em;
	border:2px solid #777777;
	background-color: #222222;
	transition:background-color 0.5s; 
	-moz-transition:background-color 0.5s; 
	-webkit-transition:background-color 0.5s;
}

input[type='radio']:checked + label{
	background-color: #33FF33;
}

div.fitResults{
	float:left;
	padding-left:1em;
	padding-right: 1em;
	width:20em;
	text-align: center;
	padding-top:0.5em;
}

div#killAllLabel{
	padding:1em;
	padding-right:0.5em;
	text-align:right;
	float:left;
}

div#spectraList{
	width:15em;
	text-align: center;
}

div#toggleWraptoggleAll{
	width:15em;
	padding-left: 0px;
}

div.recentWrap div.toggleWrap{
	width: 15em;
	padding-left: 1.5em;
}

button#clearFits{
	font-size:100%;
	margin: 0px;
}

/*Toggle Switch///////////////////////////////////////////////////////////////////////*/
div.toggleWrap{
	height:2em;
	float:left;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}

div.toggleLabel{
	margin-top:0.5em;
	margin-bottom: 0.5em;
	padding:0em;
	border:0em;
	display:inline-block;
	float:left;
	-webkit-user-select:none;
	-moz-user-select:none;
}

div.toggleGroove{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	height:1.5em;
	width:3em;
	margin-top:0.25em;
	margin-bottom:0.25em;
	margin-left: 1em;
	margin-right: 1em;
	border:0.2em solid #000000;
	border-radius: 0.95em;
	background-color: #222222;
	display:inline-block;
	position:relative;
	transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	-webkit-transition:background-color 0.3s;
}

div.toggleSwitch{
	height:1.5em;
	width:2em;
	border-radius: 0.75em;
	background-color: #999999;
	padding:0px;
	border:0.2em solid black;
	position:absolute;
	/*top:-0.2em;*/
	transition:left 0.3s;
	-moz-transition:left 0.3s;
	-webkit-transition:left 0.3s;
	cursor: pointer;
}

/*Footer and footer-related styles////////////////////////////////////////////////////*/
html, body {height: 100%;}

div#wrapper{
	height:100%;
	margin-left: 1em;
	margin-right: 1em;

}

div#bumperDiv {
	overflow:auto;
	float:left; /*strange but true*/
	margin-bottom: 1em;
	font-size: 200%;
}

div#footer {
	position: relative;
	margin-top: -5em; /* negative value of footer height */
	height: 5em;
	clear:both;
	border-top: 2px solid #000000;
	text-align: center;
	background-color: #4C4C4C;
	padding:2em;
	color: #EEEEEE;
	font-size: 200%;

} 
/* Table related sytles */

.unhidden1{
        display: inline;
}


table#tableId {

font-size: 165%;
border: 1px solid white;
position: relative;
right: -110px;
top: 180px; 
font-family: 'Raleway', sans-serif;
width:80%;



}

td {

border: 1px solid white;
text-align:center;
padding-top:5px;
padding-bottom:5px;
height:30px;
width:5.5em;

}


pre {

font-size:180%;
position: relative;
left: 230px;
top: 0px;
text-align:center;
}


/* Calibration related styles */

button#SendODB {
 display: inline-block;
font-size:100%;
position:absolute;
right: 1020px;
top: -40px;



}

button#uncheckAll {
 display: inline-block;
font-size:100%;
position:absolute;
right: 1305px;
top: -40px;


}


button#checkAll {
 display: inline-block;
font-size:100%;
position:absolute;
right: 1180px;
top: -40px;



}


div#buttonList {


 display: inline-block;
font-size:180%;
position:relative;
right: 645px;
top: 60px;
width:200%;

}



select#calOptions {
	
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;
	font-size:90%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	margin:0px;
    -webkit-appearance:none;
    -moz-appearance:none;
 	text-indent: 0.01px;

}

#performCalibration {
	 display: inline-block;
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;
	font-size:90%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	margin:0px;
    -webkit-appearance:none;
    -moz-appearance:none;
 	text-indent: 0.01px;


}

button#redOutlier {
 display: inline-block;
	position:absolute;
	top: -40px;
	right: 880px;

	background-color: #993333;
	border-radius: 5px;
	border:none;
	font-size:250%;
	padding: 0.5em;
 	text-indent: 0.01px;

}

p#redValue {
 	display: inline-block;
	position:absolute;
	top: -40px; 
	right: 680px;
	font-size:100%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}


button#brownOutlier {
	
	display: inline-block;
	position:absolute;
	top: 30px;
	right: 880px;

	background-color: #A37547;
	border-radius: 5px;
	border:none;
	font-size:250%;
	padding: 0.5em;
 	text-indent: 0.01px;

}

p#brownValue {
	 display: inline-block;
	position:absolute;
	top: 30px;
	right: 680px;
	
	font-size:100%;
	padding: 0.5em; 
	text-align: center;
	font-family: 'Raleway', sans-serif;

}

label#waitMessage {
	display: inline-block;
	position:absolute;
	right: 200px;

	
	font-size:160%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}

button#Reset {

	 display: inline-block;
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;	
	position:absolute;
	right: 60px;
	font-size:160%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}


#tableID {

margin-bottom:80px;

}


/* Resolution related styles */

#resolution {

position:relative;
padding-top:0.5em;
padding-bottom:0.5em;

}

label#resMessage {
	display: inline-block;
	position:absolute;
	right: 200px;
	
	font-size:160%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}

table#tableId1 {

font-size: 165%;
border: 1px solid white;
position: relative;
right: -110px;
top: 50px; 
font-family: 'Raleway', sans-serif;
width:85%;
margin-bottom:80px;

}


#resolutionPlot {
	width: 69%;
	height:90%; 

}
/* ////////////////////////////// */
/* Refer to http://dygraphs.com/css.html */

#dygraphRegion {
position:relative;
padding-top:1em;
width: 69%;
height: 90%;

}

.dygraph-axis-label.dygraph-axis-label-y{
color: #FFFFFF;
}

.dygraph-axis-label.dygraph-axis-label-x{
color: #FFFFFF;
}

.dygraph-label.dygraph-xlabel{

padding-top:1em;

}

.dygraph-title {
font-size:80%;
font-style:normal;
}

/* ////////////////////////////// */

#resolutionPeaks{

font-size:100%;

}

#ResTable{
	display: inline-block;
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;	
	right: 60px;
	font-size:100%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}


#ResGraph{

	display: inline-block;
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;		
	right: 60px;
	font-size:100%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;


}

select#resOptions {
	
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;
	font-size:90%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	margin:0px;
    -webkit-appearance:none;
    -moz-appearance:none;
 	text-indent: 0.01px;

}

#checkResolution {
	 display: inline-block;
	background-color: #444444;
	border-radius: 5px;
	color: #CCCCCC;
	border:none;
	font-size:90%;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	margin:0px;
    -webkit-appearance:none;
    -moz-appearance:none;
 	text-indent: 0.01px;


}










